.AddTaskDiv {   float: left; width: 25%; margin-right: 1%; margin-bottom: 50px; background: #ccc; padding: 10px; }
.TaskListDiv {  float: right; width: 70%; min-height: 263px; margin-bottom: 50px; background: #ccc; padding: 10px; }
.Headings h2 { margin-right: 50px; float: left; }
.checkbox { float: left; width: 15%;}
.ListTaskName { float: left; width: 20%; }
.ListTaskDescription {  float: left; width: 65%; }